@font-face {
    font-family: Figtree;
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

body {
    font-size: clamp(12px, 2.5vw, 16px);
    width: 100vw;
    height: 100vh;
    background-color: hsl(47, 88%, 63%);
    font-family: Figtree;
    align-items: center;
    justify-content: center;
    margin: 0;
    display: flex;
}

.card {
    background-color: white;
    border-radius: 1em;
    border-style: solid;
    box-shadow: 5px 5px hsl(0, 0%, 7%);
    display: grid;
    height: 32.625em;
    width: 24em;
    margin: auto;
    justify-items: center;
}

.content {
    margin: 16px;
}

.image {
    border-radius: 0.5em;
    margin-bottom: 1em;
    object-fit: contain;
    width: 100%;
}

.label {
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
    border-style: none;
    width: min-content;
    font-weight: bold;
    padding: 5px 10px ;
    margin-bottom: 1em;
}

h2 {
    font-weight: bold;
}

h2:hover {
    color: hsl(47, 88%, 63%);
}

.profile {
    font-weight: bold;
    display: flex;
    text-align: center;
    align-items: center;
}

.profile-image {
    margin-right: 0.5em;
    height: 2em;
    width: 2em;
}